.input-control {
    min-width: 300px;
}

:global(.button).search-button {
    background: teal;
    margin-left: 10px;
    margin-right: 10px;
    /* border: none; */
}

:global(.icon) {
    color: white;
}

.search-field {
    padding-top: 5px;
}

/* .search-bar {
    align-items: center;
} */