.nav-bar {
    display: flex;
    background: teal;
    padding: 1rem 0;
    color: white;
    align-items: center;
    /* justify-content: center; */
}

.logo {
    color: white;
    font-weight: 800;
    font-size: larger;
    margin-right: 1rem;
    margin-left: 1rem;

}

:global(.button).nav-button {
    margin-right: 1rem;
}
:global(.button).logout {
    margin-left: 1rem;
}