.search-result {
    display: flex;
    margin-left: 2rem;
}

.bar-image {
    width: 210px;
    height: 210px;
    margin-right: 1rem;
} 

.bar-info {
    min-width: 200px;
}

.contact-info {
    font-size: 1rem;
    padding-top: 8px;
}

.transportation {
    margin-top: 10px;
}

.words {
    margin-top: 10px;
}