.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  position: fixed;
  margin: 0;
  width: 100%;
  background-color: #f8a127;
  max-height: 75px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: white;
  z-index: 999;
}
.space-below-header{
  padding-bottom: 120px;
}

.prof-pic-container{
  grid-column: 1 / 2;
  justify-content: right;
}

.navbar-brand-container {
  all: unset;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logout-container {
  grid-column: 4 / 5;
  font-weight: bold;
  background: transparent;
  letter-spacing: 1.75px;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-top: 45px;
  margin-bottom: 45px;
}

.App-link {
  color: #61dafb;
}
.ApiWrapper {
  display: flex;
  width: 300px;
  height: 300px;
}